// Every page should have a class on the body
// Scope that in each file at the start
.mw-home {
	#seasonal_container{
		padding: 0;
		padding-top: 5px;
		text-align: center;
		a{
			display: inline-block;
			border: 3px solid #d8ba26;
			position: relative;
			width: 45% !important;			
			margin: 1% 0% 2% 1%;
			max-width: 242px;
			padding: 0px;
			box-shadow: 0px 2px 3px rgba(0,0,0,.5);
			&.mw-odd{
				margin: 2% 1% 1% 0%;
			}
			span{
				display: inline-block;
				position: absolute;
				bottom: 0px;
				left: 0px;
				background-color: #d8ba26;
				color: #fff;
				font-weight: normal;
				font-size: 12px;
				padding: 5px 6px 2px 6px;
				width: 90%;
				font-weight: bold;
				text-align: left;
				@include border-radius(0 5px 0 0);
			}
			img{
				width: 100% !important;
				height: auto !important;
			}
		}
	}
	#mainContent_landing{
		padding: 10px 10px 0;
		#menuwrapper{
			margin: 0px -10px;
			background-color: #25272c;
			border-top: 3px solid #181a1e;
			border-bottom: 3px solid #181a1e;
			padding: 3px 10px;
			li{
				border-bottom: 1px solid #181a1e;
				border-top: 1px solid #2d2f34;
				&:first-child{
					border-top: 0px none #777;
				}
				&:last-child{
					border-bottom: 0px none #777;
				}
				a{
					span{
						color: #fff;
						display: block;						
						line-height: 100%;
						padding: 20px 15px;
						position: relative;
						font-weight: normal;
						&:after {
						  display: block;
						  content: '';
						  position: absolute;
						  top: 50%;
						  right: 20px;
						  margin-top: -5px;
						  opacity: 1;
						  @include sprites-ar3;
						}
								
					}
				}
			}
		}
	}
}
