.mw-recreation{
	.mw-image-window{
		width: 100%;
		height: 190px;
		overflow: hidden;
		img{
			max-width: none;
			height: 190px;
			border-bottom: 1px solid #5280a7;
		}
	}

	.crbk{
		border-bottom: 2px solid #5280a7;
		@include background-image(linear-gradient(#eff4fa,#d6dee7));
		width: 100%;
		overflow-x: scroll;
		display: block;
		.breadcrumbs{
			td{
				margin: 0px;
				padding: 0px;
				vertical-align: middle;
				white-space: nowrap;
				> *{
					float: left;
					height: 41px;
					display: inline-block;
					line-height: 43px;
					font-weight: normal;
				}
				span{
					color: #778d9b;
				}
				a.mw-home{
					background: image-url("home.png") center center no-repeat;
					width: 30px;
					margin-left: 10px;
				}
				.mw-arrow{
					@include sprites-bread-arrow;
					text-indent: -9999px;
					display: inline-block;
					text-indent: -9999px;	
					margin: 0px 10px;			
				}
			} 
		}
	}

	#multi_image_container{
		text-align: center;
		margin: 5px 0 0px;
	}

	#mainContent{
		padding: 10px;
		p{
			margin-bottom: 15px;
		}
		> p {
			> img{
				margin: auto;
				display: block;
			}
		}
		.left49{
			display: none;
		}
		.accessibility{
			display: none;
		}
	}

	#content_img_right{
		margin: auto;
		display: block;
	}

}