// Forms
// -----------------------------

/*
  - form: basic form styling
*/

.mw-form {
  label, .mw-label {
    font-weight: bold;
    margin-top: 5px;
    text-shadow: $text-shadow-white;
    display: block;
  }
  .mw-row {
    padding:0px 10px 5px 10px;
    overflow: hidden;
  }
}

input[type="text"], input[type="tel"], input[type="email"], .mw-input {
  display: block;
  padding: 7px;
  border: none;
  color: #3c6485;
  font-weight: normal;
  font-size: 13px;  
  @include appearance(none);    
  @include transition(all, 1s, ease-in);  


  &:focus {
    color: #26415a;
    outline: none;
    @include transition(all, 1s, ease-in);      
  }
  &::-webkit-input-placeholder {
     color: #3c6485;
     line-height: 100%;     
     font-size: 13px;
     margin: 0px;
     padding: 2px 0px;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }
}
