#footer {

	background-color: #174e7c;
	color: #0e3b61;
	a{
		color: #0c2d49;
	}

	#footer_content{
		position: relative;

		#social_media{
			background-color: #12436d;
			border-top: 1px solid #174e7c;
			box-shadow: 0px 1px 2px rgba(0,0,0,.5);
			text-align: center;
			padding: 15px;
			a{
				display: inline-block;
				margin: 0px 10px;
			}
		}	

		#alert_box{
			padding: 15px;
			margin-top: 5px;
			.mw-title{
				font-size: 15px;
				color: #0a3050;
				text-align: center;
				display: block;
				margin: 10px;
			}
			form{
				background-color: #99b9d3;
				border: 1px solid #0c375d;
				padding: 3px;
				input[type='text']{
					background: transparent;
					box-shadow: 0px 0px 0px rgba(0,0,0,.5);
					border: 0px none #777;
					padding: 16px 10px 14px;
					line-height: 100%;
					font-size: 13px;
					font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				}
				input[type="submit"]{				
					@include sprites-email;
					display: inline-block;
					text-indent: -9999px;
					margin: 11px;
				}
			}
		}

		.mw-f-container{
			@include clearfix();

			padding: 15px 25px 20px;

			.mw-idaho{
				@include sprites-idaho;
				display: inline-block;
				vertical-align: middle;
				float: right;
			}

			.mw-contact{
				padding: 10px 10px 10px 26px;
				background: image-url("contact.png") left center no-repeat;
				display: inline-block;
				float: left;
				vertical-align: middle;
			}

		}

		#mw-contact-c{
			position: absolute;
			top: 15px;
			left: 50%;
			width: 280px;
			margin-left: -140px;
			color: #fff;
			box-shadow: 0px 0px 4px #333;
			> div{
				background-color: #353333;
				border: 1px solid #fff;
				padding: 5px 15px 5px 15px;				
				position: relative;
				.mw-close{
					position: absolute;
					top: 0px;
					right: 0px;
					width: 35px;
					height: 35px;
					background: image-url("close.png") center center no-repeat #fff;
					@include border-radius(0px 0 0 4px);
				}
				p{
					margin-bottom: 10px;
					margin-top: 10px;
				}
				.feedburnerFeedBlock{				
					color: #fff;
					text-align: center;
					font-weight: bold;
					p{
						padding: 5px;
						background-color: #29669C;
						span{
							font-size: 11px;
						}
					}
				}
			}			
		}

		.mw-copy{
			text-align: center;
			margin: 0px 20px;
			padding-bottom: 10px;
			font-size: 11px;
			border-bottom: 1px solid #0c3d66;
		}
		.mw-wrap{
			@include clearfix();
			padding: 15px 0 20px;
			font-size: 12px;
			margin: 0px 20px 0px;			
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			border-top: 1px solid #225d8e;
			.mw-desktop{
				float: left;				
			}
			.mw-moovweb{
				float: right;
				span{
					margin-right: 3px;
					font-style: italic;
				}
			}
		}

	}

}