#header_top {
	background-color: #29679b;
	border-bottom: 2px solid #34383d;
	padding: 10px;

	> a{
		display: inline-block;
		vertical-align: middle;
	}

	img.logo_header{
		padding: 5px 0;
	}


	.mw-panel-btn{
		display: inline-block;
		text-indent: -9999px;
		@include sprites-menu-btn;
		float: right;
	}

}

.ui-panel-content-wrap-open{
	#header_top{
		.mw-panel-btn{
			@include sprites-menu-btn-on;
		}
	}
}