#mw-panel{
	background-color: #9f8c6e;	
	box-shadow: 0px 0px 0px;			
	&:before {
	  display: block;
	  content: '';
	  position: absolute;
	  top: 0px;
	  left: 0px;	  
	  opacity: 1;
	  width: 4px;
	  height: 100%;
	  background: image-url("p-shadow.png") left top repeat-y;
	  z-index: 500;
	}
	.ui-panel-inner{
		padding: 0px;	
		#primary-nav{
			> li{
				@include background-image(linear-gradient(#aa977a,#a18e6f));
				border-bottom: 1px solid #8a7553;
				border-top: 1px solid #b5a489;
				&:first-child{
					border-top: 0px none #777;
				}
				> a{
					> span{
						display: block;
						padding: 20px 25px;
						line-height: 100%;
						font-size: 14px;
						color: #41331d;
						text-shadow: 0px 1px 0px #b9a78c;
						position: relative;						
						&:after {
						  display: block;
						  content: '';
						  position: absolute;
						  top: 50%;
						  right: 20px;
						  margin-top: -3px;
						  opacity: 1;
						  @include sprites-ab1;
						}						
					}
					&.collapsed{
						> span{
							&:after {							  
							  margin-top: -7px;							  
							  @include sprites-ar1;
							}
									
						}
					}
				}
				> ul.unli{					
					> li{
						border-bottom: 1px solid #5b482a;
						border-top: 1px solid #7f6946;
						&:first-child{
							a{
								span{
									box-shadow: inset 0px 1px 1px #473a35;
								}
							}							
						}
						&:last-child{
							a{
								span{
									box-shadow: inset 0px -1px 1px -1px #403430;
								}
							}							
						}
						> a{
							> span{
								background-color: #715c3a;
								padding: 18px 35px 17px;
								color: #2e2414;
								text-shadow: 0px 1px 0px #8d7753;
								display: block;
								font-weight: normal;
								font-size: 14px;
								line-height: 100%;
								position: relative;
								&:after {
								  display: block;
								  content: '';
								  position: absolute;
								  top: 50%;
								  right: 30px;
								  margin-top: -5px;
								  opacity: 1;
								  @include sprites-ar2;
								}
										
							}							
						}
					}
				}
			}
		}

		.mw-panel-logo{
			padding: 35px 0;
			text-align: center;
			border-top: 1px solid #b5a489;
			a{
				@include sprites-logo-panel;
				display: inline-block;				
			}
		}

	}
}
